<link rel="import" href="../polymer/polymer.html">

<!--
<%= props.description %>

Example:
```html
<<%= props.name %>>
  <h2>Hello <%= props.name %></h2>
</<%= props.name %>>
```

## Styling

The following custom properties and mixins are available for styling:

Custom property | Description | Default
:-- | :-- | :--
--<%= props.name %>-property | Description | Default value

@demo demo/index.html
-->

<dom-module id="<%= props.name %>">
  <template>
    <link rel="stylesheet" href="./<%= props.name %>.css" inline>
    <content></content>
  </template>
  <script src="./<%= props.name %>.js" inline></script>
</dom-module>
